.intro {
  width: 50%;
  font-style: italic;
}

.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.flashy {
  color: #FF0037;
  font-style: italic;
}

.best {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #FFAEC9;
}

.important {
  color: #FFAEC9;
}

.intro {
  color: #E6E6FA;
}
